<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Palma</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="../styles.css">
</head>

<body>

    <header class="header">
        <div class="logo">
            <img src="../imagenes/Lapalma.jpeg" alt="Logo La Palma">
            <h2>La Palma</h2>
        </div>

        <nav class="menu">
            <a href="../index.html">Inicio</a>
            <a href="menu.html">Menú</a>
            <a href="conocenos.html">Conócenos</a>
            <a href="historia.html">Historia</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>




    <section class="conocenos" id="conocenos">

    <h1>Conócenos</h1>
    <p class="subtitulo-conocenos">
        Somos un emprendimiento estudiantil que lleva frescura, sabor y calidad a la comunidad Remington.
    </p>

    <div class="bloques-info">

        <div class="bloque naranja">
            <h2>Misión</h2>
            <p>
                Elaborar ceviches frescos, de calidad y a precios accesibles para la comunidad escolar Remington, brindando un servicio cercano y tomando en cuenta la opinion de nuestros clientes para mejorar continuamente.
            </p>
        </div>

        <div class="bloque azul">
            <h2>Visión</h2>
            <p>
                Ser un emprendimiento reconocido dentro de la escuela Remington por la calidad de nuestros ceviches, buen servicio y atencion al cliente, con la meta de crecer y ampliar nuestro menu a mas personas a nivel local.
            </p>
        </div>

    </div>

    <div class="valores">
        <h2>Nuestros Valores</h2>

        <div class="lista-valores">
            <span>Calidad</span>
            <span>Frescura</span>
            <span>Servicio</span>
            <span>Trabajo en equipo</span>
            <span>Atencion al cliente</span>
            <span>Compromiso</span>
            
        </div>
    </div>

    <div class="extra-info">

        <div class="eslogan">
            <h2>Eslogan</h2>
            <p>“Lo mejor del mar en tu plato”</p>
        </div>

        <div class="logotipo">
            <h2>Logotipo</h2>
            <p>
                El logo de La Palma representa el mar, la frescura y un ambiente familiar. La palma simboliza playa,
                tranquilidad y momentos agradables; el pez representa nuestros productos del mar. El azul transmite
                frescura, limpieza y confianza, mientras que el naranja aporta un toque cálido, alegre y cercano.
            </p>
        </div>

    </div>

 <div class="gafetes">
    <h2>Nuestro Equipo</h2>
    <p>Aquí puedes pegar los gafetes de los integrantes de La Palma.</p>

    <div class="contenedor-gafetes">

        <div class="gafete">
            <div class="foto-gafete">
                <img src="../imagenes/1.png" alt="Gafete integrante 1">
            </div>
            <h3>Integrante 1</h3>
        </div>

        <div class="gafete">
            <div class="foto-gafete">
                <img src="../imagenes/2.png" alt="Gafete integrante 2">
            </div>
            <h3>Integrante 2</h3>
        </div>

        <div class="gafete">
            <div class="foto-gafete">
                <img src="../imagenes/3.png" alt="Gafete integrante 3">
            </div>
            <h3>Integrante 3</h3>
        </div>

        <div class="gafete">
            <div class="foto-gafete">
                <img src="../imagenes/4.png" alt="Gafete integrante 4">
            </div>
            <h3>Integrante 4</h3>
        </div>

       <div class="gafete">
            <div class="foto-gafete">
                <img src="../imagenes/5.png" alt="Gafete integrante 4">
            </div>
            <h3>Integrante 5</h3>
        </div>

        <div class="gafete">
            <div class="foto-gafete">
                <img src="../imagenes/6.png" alt="Gafete integrante 4">
            </div>
            <h3>Integrante 6</h3>
        </div>

        <div class="gafete">
            <div class="foto-gafete">
                <img src="../imagenes/7.png" alt="Gafete integrante 4">
            </div>
            <h3>Integrante 7</h3>
        </div>

        <div class="gafete">
            <div class="foto-gafete">
                <img src="../imagenes/8.png" alt="Gafete integrante 8">
            </div>
            <h3>Integrante 8</h3>
        </div>

    </div>
</div>

        </div>
    </div>

</section>

    
    <!-- FOOTER -->
    <footer class="footer" id="contacto">
        <div class="footer-contenido">

            <div class="footer-columna">
                <div class="logo footer-logo">
                    
                    <h2>La Palma</h2>
                </div>

                <p>Lo mejor del mar en tu plato</p>
            </div>

            <div class="footer-columna">
                <h3>Enlaces Rápidos</h3>
                <a href="../index.html">Inicio</a>
                <a href="menu.html">Menú</a>
                <a href="conocenos.html">Conócenos</a>
                <a href="contacto.html">Contacto</a>
            </div>

            <div class="footer-columna">
                <h3>Síguenos</h3>

                <div class="redes">
                    <a href="https://www.instagram.com/lapalma_mzt/" class="icono-red">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/people/La-Palma-Mzt/61569740215739/?mibextid=wwXIfr&rdid=scgwZKFgfhJaN18Z&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1PgcXcAgj2%2F%3Fmibextid%3DwwXIfr" class="icono-red">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="https://mail.google.com/" class="icono-red">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="copy">
            La Palma © 2026 - Hecho con <span>♥</span> por estudiantes de preparatoria
        </div>
    </footer>
</body>
</html>