<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Palma</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

   
    <link rel="stylesheet" href="../styles.css">
</head>

<body>


    <header class="header">
        <div class="logo">
            <img src="../imagenes/Lapalma.jpeg" alt="Logo La Palma">
            <h2>La Palma</h2>
        </div>

        <nav class="menu">
            <a href="../index.html">Inicio</a>
            <a href="menu.html">Menú</a>
            <a href="conocenos.html">Conócenos</a>
            <a href="historia.html">Historia</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>




    <section class="contacto" id="contacto">

    <h1>Contáctanos <i class="fa-solid fa-address-card"></i></h1>

    <div class="contenedor-contacto">

        <div class="info-contacto">
            <h2>¡Encuéntranos! <i class="fa-solid fa-hand"></i></h2>

            <div class="dato-contacto">
                <div class="icono instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div>
                    <h3>Instagram</h3>
                    <p>@lapalma_mzt</p>
                </div>
            </div>

            <div class="dato-contacto">
                <div class="icono facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div>
                    <h3>Facebook</h3>
                    <p>LaPalma_mzt</p>
                </div>
            </div>

            <div class="dato-contacto">
                <div class="icono correo">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div>
                    <h3>Correo</h3>
                    <p>lapalma_mzt@gmail.com</p>
                </div>
            </div>

            <div class="dato-contacto">
                <div class="icono ubicacion">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div>
                    <h3>Ubicación</h3>
                    <p>Colegio Remington</p>
                </div>
            </div>
        </div>

        <div class="aviso-evento">
            <div class="etiqueta-evento">
                <i class="fa-solid fa-bullhorn"></i>
                <span>Aviso importante</span>
            </div>

            <h2>Próximo Evento</h2>

            <div class="fecha-evento">
                <i class="fa-solid fa-calendar-days"></i>
                <div>
                    <h3>2 de junio</h3>
                    <p>Colegio Remington</p>
                </div>
            </div>

            <p class="texto-evento">
                Ven a conocer nuestro emprendimiento estudiantil <strong>La Palma</strong>.
                Tendremos ceviches frescos, menú infantil, actividades especiales
                y un ambiente lleno de sabor.
            </p>

            <div class="detalles-evento">
                <div>
                    <i class="fa-solid fa-fish"></i>
                    <span>Ceviches frescos</span>
                </div>

                <div>
                    <i class="fa-solid fa-ticket"></i>
                    <span>Actividades especiales</span>
                </div>

                <div>
                    <i class="fa-solid fa-users"></i>
                    <span>Para toda la familia</span>
                </div>
            </div>

            <div class="mensaje-final">
                “Lo mejor del mar en tu plato”
            </div>
        </div>

    </div>

</section>


    
    <!-- FOOTER -->
    <footer class="footer" id="contacto">
        <div class="footer-contenido">

            <div class="footer-columna">
                <div class="logo footer-logo">
                    
                    <h2>La Palma</h2>
                </div>

                <p>Lo mejor del mar en tu plato</p>
            </div>

            <div class="footer-columna">
                <h3>Enlaces Rápidos</h3>
                <a href="../index.html">Inicio</a>
                <a href="menu.html">Menú</a>
                <a href="conocenos.html">Conócenos</a>
                <a href="contacto.html">Contacto</a>
            </div>

            <div class="footer-columna">
                <h3>Síguenos</h3>

                <div class="redes">
                    <a href="https://www.instagram.com/lapalma_mzt/" class="icono-red">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/people/La-Palma-Mzt/61569740215739/?mibextid=wwXIfr&rdid=scgwZKFgfhJaN18Z&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1PgcXcAgj2%2F%3Fmibextid%3DwwXIfr" class="icono-red">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="https://mail.google.com/" class="icono-red">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="copy">
            La Palma © 2026 - Hecho con <span>♥</span> por estudiantes de preparatoria
        </div>
    </footer>
</body>
</html>