<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Palma</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    <link rel="stylesheet" href="../styles.css">
</head>

<body>


    <header class="header">
        <div class="logo">
            <img src="../imagenes/Lapalma.jpeg" alt="Logo La Palma">
            <h2>La Palma</h2>
        </div>

        <nav class="menu">
            <a href="../index.html">Inicio</a>
            <a href="menu.html">Menú</a>
            <a href="conocenos.html">Conócenos</a>
            <a href="historia.html">Historia</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>



<section class="menu-seccion" id="menu">
    <h1>Nuestro Menú</h1>
    <p class="subtitulo">Cada platillo está preparado con ingredientes frescos y mucho amor</p>

    <div class="contenedor-menu">

        <div class="tarjeta-menu">
            <div class="imagen-menu azul">
                <img src="../imagenes/tostitos.jpeg" alt="Logo La Palma">
            </div>

            <div class="info-menu">
                <h2>Ceviche con Tostitos</h2>
                <p>
                    Ceviche servido en bolsa de Tostitos, fresco, práctico y lleno de sabor.
                    Puedes elegir entre camarón mixto o sierra.
                </p>

                <div class="precios">
                    <p><strong>Camarón mixto:</strong> $85</p>
                    <p><strong>Sierra:</strong> $60</p>
                </div>
            </div>
        </div>

        <div class="tarjeta-menu">
            <div class="imagen-menu turquesa">
                <img src="../imagenes/charola.jpeg" alt="Logo La Palma">
            </div>

            <div class="info-menu">
                <h2>Charola de Camarón Mixto</h2>
                <p>
                    Charola de ceviche de camarón mixto, ideal para compartir entre dos personas.
                    Preparada con ingredientes frescos y el toque especial de La Palma.
                </p>

                <h3>$160</h3>
            </div>
        </div>

        <div class="tarjeta-menu">
            <div class="imagen-menu naranja">
                <img src="../imagenes/sierra.jpeg" alt="Logo La Palma">
            </div>

            <div class="info-menu">
                <h2>Charola de Sierra</h2>
                <p>
                    Charola de ceviche de sierra para dos personas, fresca, sabrosa y perfecta
                    para quienes prefieren un clásico del mar.
                </p>

                <h3>$100</h3>
            </div>
        </div>

        <div class="tarjeta-menu">
            <div class="imagen-menu azul-oscuro">
                <img src="../imagenes/infantil.jpeg" alt="Logo La Palma">
            </div>

            <div class="info-menu">
                <h2>Charola Infantil</h2>
                <p>
                    Porción infantil accesible y llenadora, pensada para los más pequeños.
                    Una opción rica, fresca y perfecta para disfrutar en el evento.
                </p>

                <h3>$40</h3>
            </div>
        </div>

    </div>
</section>
    
 


    <footer class="footer" id="contacto">
        <div class="footer-contenido">

            <div class="footer-columna">
                <div class="logo footer-logo">
                    
                    <h2>La Palma</h2>
                </div>

                <p>Lo mejor del mar en tu plato</p>
            </div>

            <div class="footer-columna">
                <h3>Enlaces Rápidos</h3>
                <a href="../index.html">Inicio</a>
                <a href="menu.html">Menú</a>
                <a href="conocenos.html">Conócenos</a>
                <a href="contacto.html">Contacto</a>
            </div>

            <div class="footer-columna">
                <h3>Síguenos</h3>

                <div class="redes">
                    <a href="https://www.instagram.com/lapalma_mzt/" class="icono-red">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/people/La-Palma-Mzt/61569740215739/?mibextid=wwXIfr&rdid=scgwZKFgfhJaN18Z&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1PgcXcAgj2%2F%3Fmibextid%3DwwXIfr" class="icono-red">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="https://mail.google.com/" class="icono-red">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="copy">
            La Palma © 2026 - Hecho con <span>♥</span> por estudiantes de preparatoria
        </div>
    </footer>
</body>
</html>